<html lang="en" ng-app="simplelookup">
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        {% assets "common_css" %}
            <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
        {% endassets %}
        <title>Simple Lookup</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="searchController" ng-init="init()">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container" ng-controller="navbarController">
                <div class="navbar-header">
                    <button type="btuton" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Simple Lookup</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% for project in projects %}
                            <li ng-class="{'active':info.project_id == {{loop.index-1}}}"><a ng-click="changeProject({{loop.index-1}})">{{ project['NAME'] }}</a></li>
                        {% endfor %}
                    </ul>
                </div><!--/.nav-collapse -->
                <input id="project_id" type="hidden" value="[[info.project_id]]" ng-model="info.project_id">
            </div>
        </div>
        <div style="width: 100%; height: 100%; display: table;">
            <div id="side-bar-container">
                <div id="side-bar">
                    <div class="input-group">
                        <input type="search" simple-search ng-model="record" placeholder="search" tabindex="1" accesskey="s" class="search-query form-control" style="width: 100%">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="clearHistory()"><span class="glyphicon glyphicon-trash"></span>&nbsp;</button>
                        </span>
                    </div>
                    <ul style="padding-left: 0; margin-top: 10px" ng-hide="!result_history">
                        <li class="record_li" ng-repeat="r in result_history" ng-animate=" 'animate'" ng-click="searchRecord(r)">
                            <a ng-bind="r.label"></a><br>
                            <span ng-bind="r.desc"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="main">
                <div class="pull-left" style="width: 70%">
                    <div ng-show="path" style="margin-bottom: 10px; font-weight: bold; width: 100%">
                        <span ng-show="path.path" ng-bind="path.path" style="margin-left: 20px"></span>
                        <span ng-show="path.path">/</span>
                        <a ng-if="path.module" ng-bind="path.module" ng-click="searchRecord({project_id: [[path.project_id]], id: [[path.module_id]], type: 'module'})"></a>
                        <span ng-show="path.class">.</span>
                        <a ng-if="path.class" ng-bind="path.class" ng-click="searchRecord({project_id: [[path.project_id]], id: [[path.class_id]], type: 'class'})"></a>
                        <span ng-show="path.function">.</span>
                        <a ng-if="path.function" ng-bind="path.function"></a>
                        <button class="btn btn-info btn-xs pull-right" ng-show="viewing!='code'" ng-click="viewing='code'" style="margin-left: 20px">Current Version</button>
                        <button class="btn btn-success btn-xs pull-right" ng-show="viewing!='revisions' && (path.class_id || path.function_id)" ng-click="getRevisions(path)" style="margin-left: 20px">Revision History</button>
                    </div>
                    <div ng-show="code && viewing=='code'">
                        <div ng-bind-html-unsafe="code" class="source_code">
                        </div>
                    </div>

                    <div ng-show="revisions.list && viewing=='revisions'">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="r in revisions.list">
                                <div class="row">
                                    <div class="cursor_pointer col-md-10">
                                        <span ng-click="toggleDisplay(r)">
                                            <a>[[r.revision.hash]]</a>: [[r.revision.subject]] ---- by [[r.revision.author]] on [[r.revision.date]]
                                        </span>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-danger btn-xs pull-right" ng-if="r.highlighted === null">Empty</button>
                                    </div>
                                </div>
                                <div style="margin-top: 10px; margin-bottom: 5px" ng-if="r.display && r.highlighted !== null" ng-bind-html-unsafe="r.highlighted" class="source_code"></div>
                            </li>
                        </ul>
                        <button class="btn btn-success btn-xs pull-right" ng-show="viewing == 'revisions' && revisions.terminated" ng-click="getMoreRevisions(path, revisions.terminated)" style="margin-left: 20px">-- More --</button>
                    </div>
                </div>
                <div class="pull-left" style="width: 29%">
                    <div ng-show="methods" style="padding-left: 30px; float: left">
                        <h4>Methods</h4>
                        <ul>
                            <li ng-repeat="method in methods">
                                <a ng-click="searchRecord(method)" ng-bind="method.name"></a>
                            </li>
                        </ul>
                    </div>
                    <div ng-show="functions" style="padding-left: 30px; float: left">
                        <h4>Functions</h4>
                        <ul>
                            <li ng-repeat="fun in functions">
                                <a ng-click="searchRecord(fun)" ng-bind="fun.name"></a>
                            </li>
                        </ul>
                    </div>
                    <div ng-show="attrs" style="padding-left: 30px; float: left">
                        <h4>Attributes</h4>
                        <ul>
                            <li ng-repeat="attr in attrs">
                                <span ng-bind="attr.name"></span>
                            </li>
                        </ul>
                    </div>
                    <div ng-show="classes" style="padding-left: 30px; float: left">
                        <h4>Classes</h4>
                        <ul>
                            <li ng-repeat="class in classes">
                                <a ng-click="searchRecord(class)" ng-bind="class.name"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="notify_container" style="display:none">
            <div id="basic-template">
            <a class="ui-notify-cross ui-notify-close" href="#">x</a>
            <h1>#{title}</h1>
            <p>#{text}</p>
            </div>

            <div id="advanced-template">
            <!-- ... you get the idea ... -->
            </div>
        </div>
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.min.js"></script>
    {% assets "common_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</html>